.cart {
  input,
  select,
  textarea {
    border: none;
    box-shadow: inset 0 0 3px #000;
    &.ng-invalid.ng-touched {
      box-shadow: 0 0 0 1px red;
    }
  }
}
.cart-list {
  .cart-list__heading {
    display: flex;
    .cart-list__heading-item {
      width: 25%;
      text-align: center;
    }
  }
  .cart-list__item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    .cart-list__part {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 25%;
    }
  }
  .cart-list__image {
    position: relative;
    width: 100px;
    height: 100px;
    img {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}
