.authorization {
  position: relative;

  &__form,
  &__info {
    position: absolute;
    left: 50%;
    transform-origin: 0 50%;
    transform: scale(0) translateX(-50%);
    transition: transform 0.3s;
    background: #cfc;
    padding: 10px;
    z-index: 10;
    &.active {
      transform: scale(1) translateX(-50%);
    }
  }
  &__info {
    width: 150px;
  }
}

.user {
  &__avatar {
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    background: #cfc;
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
  &__count {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    width: 20px;
    height: 20px;
    background: #000;
    border-radius: 50%;
    font-size: 15px;
  }
}
