<div class="categories">
  <div class="categories__item">
    <div
      class="categories__category active"
      *ngFor="
        let category of databaseService.categories$ | async;
        let i = index
      "
    >
      <a
        [routerLink]="[category.id]"
        (click)="getCurrentCategoryId(category.id)"
        (mouseenter)="currentSubCategory(category.id)"
      >
        <i class="{{ categoryIcons[i] }}"></i>
        {{ category.name }}
      </a>
    </div>
  </div>
  <div class="categories__item">
    <app-subcategories
      [parentCategory]="parentCategory"
      [subCategories]="databaseService.subCategory$ | async"
    ></app-subcategories>
  </div>
</div>
