<div class="sort">
  <span class="sort__heading">Сортировать по:</span>
  <button class="btn sort__btn" (click)="sortBy('price')">Цене</button>
  <button class="btn sort__btn" (click)="sortBy('rating')">Рейтингу</button>
</div>
<div class="goods-cards">
  <div *ngFor="let good of goods | sort: sortByValue:isAsc" class="good-card">
    <div class="good-card__image">
      <img src="{{ good.imageUrls[0] }}" alt="{{ good.name }}" />
    </div>
    <span class="goods-cards__link" (click)="navigateTo(good.categoryId,good.subCategoryId,good.id)" >{{ good.name | shorten: 20 }}</span>
    <div class="good-card__price">
      <strong>{{ good.price.toFixed(2) }}</strong> р.
    </div>
    <div *ngIf="good.availableAmount > 0" class="good-card__available">
      <i
        [ngClass]="{
          red: good.availableAmount < 5,
          green: good.availableAmount > 20,
          yellow: good.availableAmount >= 5 && good.availableAmount <= 20
        }"
        class="far fa-check-circle"
      ></i
      >В наличии
    </div>
    <div *ngIf="good.availableAmount === 0" class="good-card__available">
      Нет на складе
    </div>
    <div class="good-card__rating">
      <i *ngFor="let item of counter(good.rating)" class="fas fa-star"></i>
    </div>
    <div class="good-card__btns">
      <button
        [disabled]="good.isInCart"
        class="btn goods-cards__btn"
        (click)="addToCart(good.id); good.isInCart = true"
      >
        В корзину
      </button>
      <button
        [disabled]="good.isFavorite"
        (click)="good.isFavorite = true"
        class="btn goods-cards__btn"
      >
        В избранное
      </button>
    </div>
  </div>
</div>
