<div class="description">
  <h1 class="description__heading">Описание приложения</h1>
  <p>
    Приложение было создано в рамках курса Rolling Scopes Angular. На главной
    странице располагаются два слайдера-карусели с товарами, для реализации
    использовался <a href="https://swiperjs.com/" target="_blank">swiperjs</a>.
  </p>
  <p>
    В шапке располагается поиск по категориям и по товару. Реализовано
    автоматическое определение города, а также поиск и выбор города
    пользователя(Беларусь). Также в шапке располагаются блок контактов с
    выпадающим меню, блок с режимом работы, ссылка на корзину, кнопка "Категории" с попапом иерархии категорий и блок авторизации
    пользователя с сохранением токена в localstorage.
  </p>
  <p>С слайдера-карусели есть переход на страницу товара. На странице товара реализован слайдер просмотра фото, добавление в корзину, описание товара и иконка по рейтингу выше двух.</p>
  <p>На странице категорий есть сортировка по цене и рейтингу. На странице основной категории есть подкатегории и товары из основной категории.</p>
  <p>В корзине сделана форма оформления заказа с валидацией полей. После оформления закака появляется окно с данными о заказе.</p>
  <p>Реализовано добавление и удаление в избранные товары.</p>
</div>
