<div class="search">
  <input
    #search
    class="search__input"
    type="text"
    placeholder="Поиск товаров"
  />
  <ul #searchList class="search__list">
    <li *ngFor="let category of dataBaseService.searchedCategories$ | async">
      <a (click)="clearSearch(); passCategoryId(category.id)" [routerLink]="category.id">{{ category.name }}</a>
    </li>
    <li *ngFor="let good of dataBaseService.goods$ | async">
      <div class="search-good">
        <a (click)="clearSearch()" [routerLink]="good.subCategory+'/'+good.id">{{ good.name }}</a>
        <hr />
        <span>{{ good.price }} р.</span>
      </div>
    </li>
  </ul>
</div>
