@import '../node_modules/reset-css/sass/reset';

.wrapper {
  max-width: 1920px;
  margin: auto;
}
.container {
  max-width: 1110px;
  margin: auto;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

a {
  text-decoration: none;
  color: #000;
}

.btn {
  cursor: pointer;
}

.main {
  height: 100vh;
  .container {
    position: relative;
    height: 100%;
  }
  .popup {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background: #3b9703;
    padding: 20px;
    box-sizing: border-box;
    transform: scale(0);
    transition: transform 0.3s;
    &.active {
      transform: scale(1);
    }
  }
}

.form {
  label {
    display: block;
  }
}
