@import '../node_modules/reset-css/sass/reset';

.wrapper {
  max-width: 1920px;
  margin: auto;
}
.container {
  max-width: 1110px;
  margin: auto;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
